# Xcode
.DS_Store
*/.DS_Store
build/
DerivedData/
*.moved-aside
*.xcuserstate
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# Temporary & Distribution
.tmp/
dist/

# Secrets & Credentials
.env
.env.*
*.secret
*.key
*.pem
*.p12
*.cer
*.mobileprovision

# IDE & Editor
.vscode/
.idea/
*.swp
*~
